# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/business/dfsp-serverz.mojaloop.xyz"
PassengerBaseURI "/"
PassengerNodejs "/home/business/nodevenv/dfsp-serverz.mojaloop.xyz/22/bin/node"
PassengerAppType node
PassengerStartupFile src/app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv ALS_STRICT true
SetEnv ALS_URL https://als.mojaloop.xyz
SetEnv CENTRAL_LEDGER_URL https://ledger.mojaloop.xyz
SetEnv DB_HOST localhost
SetEnv DB_NAME business_r_switch
SetEnv DB_PASSWORD ndiaJwV?Bpi,3bkn
SetEnv DB_PORT 3306
SetEnv DB_USER business_r_switch
SetEnv DEFAULT_CURRENCY BDT
SetEnv FRONTEND_URL https://dfsp.mojaloop.xyz
SetEnv JWT_EXPIRES_IN 365d
SetEnv JWT_SECRET wreta9483kargorgargarragaerg555ht
SetEnv NODE_ENV production
SetEnv PORT 5000
SetEnv SETTLEMENT_URL https://settlement.mojaloop.xyz
SetEnv SMTP_HOST mail.saskarentpay.xdomainhost.com
SetEnv SMTP_PASS Z7W!KZi@bKvh[&)8
SetEnv SMTP_PORT 465
SetEnv SMTP_USER admin@saskarentpay.xdomainhost.com
SetEnv SMTP_FROM "R Switch Portal" <admin@saskarentpay.xdomainhost.com>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END